<section class="cta-banner">
    <h2 class="cta-banner__heading">Get started</h2>
    <a href="#search-form" class="cta-banner__link cta-banner__link--owners btn btn--accent">Find a Groomer</a>
    <a href="/register?role=groomer" class="cta-banner__link cta-banner__link--groomers btn btn--accent">Join as Groomer</a>
</section>
