{% if breadcrumbs is defined and breadcrumbs %}
<nav class="blog-breadcrumb" aria-label="Breadcrumb">
    <ol>
        {% for crumb in breadcrumbs %}
            {% if loop.last %}
                <li aria-current="page">{{ crumb.name }}</li>
            {% else %}
                <li><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
{% endif %}
