<header>
    <div class="container">
        <nav class="grid" aria-label="Main navigation">
            <a href="{{ path('app_homepage') }}" class="logo">CleanWhiskers</a>
        </nav>
    </div>
</header>
