{% extends 'base.html.twig' %}

{% block title %}CleanWhiskers{% endblock %}
{% block meta_description %}Discover trusted pet groomers across cities with CleanWhiskers.{% endblock %}

{% block body %}
    <h1>Hey! Welcome to CleanWhiskers.</h1>
{% endblock %}

