{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
    {{ form_start(reviewForm) }}
        {{ form_row(reviewForm.rating) }}
        {{ form_row(reviewForm.comment) }}
        <button type="submit">Submit</button>
    {{ form_end(reviewForm) }}
{% endblock %}
