{% extends 'base.html.twig' %}

{% block body %}
<h1>Blog</h1>
<ul class="blog-list">
    {% for slug, post in posts %}
        <li class="post">
            <h2><a href="{{ path('app_blog_show', {slug: slug}) }}">{{ post.title }}</a></h2>
            <p>{{ post.excerpt }}</p>
            <a href="{{ path('app_blog_show', {slug: slug}) }}">Read more</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
