/* Responsive visibility utilities */

.hidden-sm { display: none !important; }
@media (min-width: 480px) {
    .hidden-sm { display: initial !important; }
}

.hidden-md { display: none !important; }
@media (min-width: 768px) {
    .hidden-md { display: initial !important; }
}

.hidden-lg { display: none !important; }
@media (min-width: 1024px) {
    .hidden-lg { display: initial !important; }
}
